**/__pycache__/
*.sqlite3
dom.py
.idea/*
media/*
*.pyc
media/
.vscode/*
*.orig
venv/*
*/venv/*
*/env/*
*.log
*/migrations/0*
/venv
nginx.conf
/env
requirements2.txt
.cache/*
logs/
.DS_Store
.env
node_modules/
abcenv/
.abcenvlinx/
abcenv3.6/
.abcenvlinx3.6/
abcenv3.6.1/
requirements_old.txt
.env.local