**/__pycache__/
*.sqlite3
.idea/*
media/*
*.pyc
media/
.vscode/*
*.orig
venv/*
*/venv/*
*/env/*
**/migrations/*.py
!**/migrations/__init__.py
/venv
**/logs/*.log
!**/!logs/
/env
.cache/*
.env
.DS_Store